


<div
    class="rectangle"
    (scroll)="onScroll($event)"
    [ngStyle]="style"
    mwlResizable
    [validateResize]="validate"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{ left: 1, right: 1 }"
    [style.maxWidth] = "rect_max_width"
    [style.maxHeight] = "rect_max_height"
    [style.minWidth] = "rect_min_width"
    [style.minHeight] = "rect_min_height"
    [style.backgroundColor] = "rect_backgroundColor"

    (resizeEnd)="onResizeEnd($event)"
    #rectangle

  >

  <div id="nav_tool_container" 
  #nav_tool_container 
  [style.backgroundColor] = "top_nav_section_background_color" 
  [style.height] = "'50px'"
  [style.minWidth] = "rect_min_width"
  [style.maxWidth] = "rect_max_width"

>
      <div  class="container_basic">
        <mat-icon class="top_selection_icon"> search</mat-icon>
              <mat-icon class="top_selection_icon icon_with_cursor hover_style_icon_basic spinable_animation_icon" (click)="refresh_nav()">
                    refresh
              </mat-icon>


           <mat-icon class="top_selection_icon"> border_color</mat-icon> 

      </div>

      <div class="flex-center"> 


      </div>

  </div> 


  <!-- Super important!!!!! nav_toolbar height has to be set the on the margins here as for the nav toolbar div to stop jitter issue-->
  


  <mat-tree 
  [dataSource]="dataSource" 
  [treeControl]="treeControl"
  #nav_mat_tree
  >
  
  <!-- renders the main tree nodes and checks highlights whatever node is hovered -->
  <!-- renders files -->
  <mat-tree-node 
      #file_mat_tree_node
      [style.height] = "file_node_height" 
      [style.width]="getFullNavBarWidth()"
      *matTreeNodeDef="let node"
      [style.backgroundColor]="node === hoveredNode ? file_node_hover_background_color : file_node_regular_background_color"
      matTreeNodePadding
      [matTreeNodePaddingIndent]="file_node_indent"
      (mouseover)="hoveredNode = node" 
      (mouseout)="hoveredNode = null">
  
      <!-- <mat-icon class="icon_with_cursor fiv-{{file_icon_default_style_option}} fiv-icon-{{node.name.substring(node.name.lastIndexOf('.') + 1,node.name.length)}}"
      >

      </mat-icon> -->
      <!-- using the file-icon-vector library to display file icons-->
      <div class="file_icon fiv-{{file_icon_default_style_option}} fiv-icon-{{node.name.substring(node.name.lastIndexOf('.') + 1,node.name.length)}}"></div>
      <!-- <mat-icon class="icon_with_cursor">insert_drive_file</mat-icon> -->

      <div class="file_name" [ngStyle] = "file_name_style" (click)="open_file(node.page_url)"> 
          {{ node.name }} 
      </div> 

  </mat-tree-node>


    <!-- This is the tree node template for expandable nodes -->
    <!-- renders folders -->

    <mat-tree-node  
      #folder_mat_tree_node
      (mouseover)="hoveredFolderNode = node" 
      (mouseleave)="hoveredFolderNode = null"
      [style.height] = "folder_node_height"
      [style.width]="getFullNavBarWidth()"
      [style.backgroundColor]="node === hoveredFolderNode ? folder_node_hover_background_color : folder_node_regular_background_color"
      *matTreeNodeDef="let node;when: hasChild"
      matTreeNodePadding 
      [matTreeNodePaddingIndent]="folder_node_indent"
      >
        
          <mat-icon class="folder_expand_icon icon_with_cursor mat-icon-rtl-mirror " matTreeNodeToggle >

            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
          <!-- <mat-icon>folder</mat-icon>
          
              >  -->

          
        <div class="folder_name" [ngStyle] = "folder_name_style"> 
          {{node.name}} 
          <!-- this is add file button portion-->
          <mat-icon (click)="fileInput.click()" 
          #add_file_icon
          class="add_file small_mat_icon"
          *ngIf="(hoveredFolderNode === node)"
          > 
          insert_drive_file
      </mat-icon>

        </div>
        
          
          <input type="file" #fileInput style="display: none;" />

      
     
      <!-- <mat-icon class="add_folder small_mat_icon">create_new_folder</mat-icon> -->

    </mat-tree-node>

  </mat-tree>

    <!-- <div
      class="resize-handle-top"
      mwlResizeHandle
      [resizeEdges]="{ top: true }"
    ></div>
    <div
      class="resize-handle-left"
      mwlResizeHandle
      [resizeEdges]="{ left: true }"
    ></div> -->
    <div
      class="resize-handle-right"
      (mouseenter)="onMouseEnterRightEdge($event)" 
      (mouseleave)="onMouseLeaveRightEdge($event)"
      mwlResizeHandle
      [resizeEdges]="{ right: true }"
      [style.left] = "rect_min_width"
      [style.width] = "resizable_right_width"
      #right_edge_draggable
      
    ></div>
    <!-- <div
      class="resize-handle-bottom"
      mwlResizeHandle
      [resizeEdges]="{ bottom: true }"
    ></div> -->
  </div>





















  
<!-- </div> -->




  
  
  
<!-- <input type="file" (change)="onFileSelected($event)" style="display:hidden"> -->


  
  
  <!-- <ngx-dropzone (change)="onFileDrop($event)" ngx-dropzone-label="Drop Markdown files here" ngx-dropzone-accept=".md"></ngx-dropzone> -->

