.fiv-cla, .fiv-viv, .fiv-sqo { font-size: 1.2em; }

#search_cont
{
    position: absolute;
    overflow: hidden;
}
.search-box {
    
    border: 1px solid #333;
    border-radius: 5px;
    padding: 2.5px;
    width: 250px;
     
}
input[name="search_filter"]
{
  width:80%;
  height: 20px;
  margin-top: 10px;
  display:none;
}
.search-input {
    border: none;
    padding: 5px;
    outline: none;
}

.search-button {
    border: none;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    /* transition: background 0.3s ease; */
}

.search-button:hover {
    background: #555;
}


#file_selection
{
    cursor: pointer;
}

#file_selection
{
    padding: 5px 10px 5px 10px ;
    background-color: transparent;
    font-size: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}
#mat_tree_container
{
     display: flex;
     justify-content: baseline;
     align-items: baseline;
     visibility: visible;
     margin: 50px 0px 0px 0px ;
     text-overflow: ellipsis;
     width: 100%;
     z-index: 100 ;
}
mat-tree
{
 
  visibility: visible;
  margin: 50px 0px 0px 0px ;
  text-overflow: ellipsis;
  
  
  
  min-height: 65px;
  z-index: 100;
  background-color: transparent;
  position: absolute;
  width: 100%;
}
.highlighted:hover
{
    cursor: pointer;
}
#parent-cont
{
    height: 100vh;
    width: 10vw;
    cursor: pointer;
    border: 2px solid rgb(52, 50, 50)
}


.file_folder_icon
{
    height: 28px;
    width: 28px;
} 
/* 
.file_name
{
    cursor: pointer;
    margin-left: 5px;
    font-size: 15px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-overflow: ellipsis; 
    width: 100%;
} */



#changeable-link:visited {
}
.file_folder_icon_small{
    height: 25px;
    width:25px ;
    margin-right: 0px;
    
}
.file_ext_icon{
    height: 25;
    width: 25px;
}

 /* Resizeable part */ 

 /* .rectangle {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: solid 1px transparent;
    margin: 0;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: auto;
    text-overflow: ellipsis;
    box-shadow: 0 0 10px rgba(131, 105, 105, 0.341);
    
  } */

  mwlResizable {
    box-sizing: border-box;
  }
  
  .rectangle {
    position: relative;
    top: 0px;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 150px;
    font-size: 25px;
    font-weight: bold;
    background-color: red;
    overflow-x: auto;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(131, 105, 105, 0.341);
    border: solid 1px transparent;

  } 
  #nav_tool_container
  {
    display: flex;
     justify-content: baseline;
     align-items: baseline;
     visibility: visible;
     position: fixed;
     z-index: 101;
  }
  .resize-handle-top,
  .resize-handle-bottom {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    cursor: row-resize;
  }
  .resize-handle-top {
    top: 0;
  }
  .resize-handle-bottom {
    bottom: 0;
  }
  .resize-handle-right {
    position: fixed;
    height: 100%;
    cursor: col-resize;
    width: 5px;
    
    z-index: 999999;
  }

  
  .resize-handle-left {
    left: 0;
  }

  

  .rectangle::-webkit-scrollbar {
    height: 10px;
    background: rgba(150, 150, 150, .4);
    width: 10px;
    cursor: pointer;
  }
  
  /* This is the handle or 'thumb' */
  .rectangle::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, .4);
    border-radius: 15px;

  }
  
  /* On hover, make the thumb change color */
  /*.rectangle::-webkit-scrollbar-thumb:hover {
    background: #82c7efd4;
  }*/
  #container
  {
    background-color: transparent;
   
  }
  
 

  
  mat-tree-node
  {
    cursor: auto;
    
  }
  
  
  .file_folder_name_cont
  {
    width: 50px;
    height: 25px;
    overflow: auto;
    position: absolute; /* Fixed positioning */
    white-space: nowrap;
    width: max-content;
    overflow: hidden;
  }
  .folder_name
  {
    position: absolute; /* Fixed positioning */
    white-space: nowrap;
    overflow: none ;
    z-index: 49;
    margin-left: 32px;
    cursor: pointer;
    text-overflow: ellipsis; /* add an ellipsis when text overflows */
  }
  
  .add_file
  {
    position: absolute; /* Fixed positioning */
    white-space: nowrap;
    width: max-content;
    overflow: hidden;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: inherit;
    /* display: none; */
  }

  .add_folder
  {
    position: relative; 
    white-space: nowrap;
    width: max-content;
    overflow: hidden;
    z-index: 50;
    margin-left: 5px;
    cursor: auto;
  }

  .small_mat_icon
  {
    font-size: 20px;
    height: 20px ;
    width: 20px;
  }

  .mid_mat_icon
  {
    font-size: 25px;
    height: 25px ;
    width: 25px;
  }

.add_file:hover, .add_folder:hover, .top_level_add_file:hover
{
  cursor: pointer;
}


.file_icon{
  margin-left: 10px;
}
.folder_expand_icon
{
  margin-left:7px;
}
  .file_name
  {
    position: absolute; /* Fixed positioning */
    white-space: nowrap;
    overflow: hidden;
    z-index: 49;
    margin-left: 35px;
    cursor: pointer;
    text-overflow: ellipsis;

  }
  .file_name:hover
  {
  } 

  a{
    text-decoration: none;
    color: black;
  }
  .top_level_add_file
  {
    position: fixed; /* Fixed positioning */
    white-space: nowrap;
    width: max-content;
    overflow: hidden;
    z-index: 50;
    margin-top: 5px;
    margin-left: 320px;

    cursor: auto;
  }
   
   
   .top_selection_icon
   {
    color:white;
   }
   
   #sub_main_top_selection_container
   {

    position: relative;
    z-index: 100;
    width: 100%;

    background-color: rgb(238, 29, 14);
    max-height: 40px;
    min-height: 40px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;

   }
   #reload_files,#top_file_add
   {
 
   }

   .icon_with_cursor
   {
      cursor: pointer;
   }
   .hovered {
}

   .hover_style_basic:hover{
    /* background-color: rgb(231, 104, 72) */
   }
   .hover_style_icon_basic:hover{
    /* color: rgb(255, 88, 88); */
    border-radius: 2px;
   }
   .flex-direction-row
   {
      flex-direction: row;
   }
   .flex-wrap
   {
    flex-wrap: wrap;
   }
   .flex-left
   {
    display: flex;
    justify-content: left;
    align-items: center;
   }

   .flex-right
   {
    display: flex;
    justify-content: right;
    align-items: center;
   }
   .flex_center
   {
    display: flex;
    align-items: center;
   }
   .flex_jc_space_around
   {
    justify-content: space-around;
   }
   .container_basic
   {
    width: 100%;
    height: 100%;
    display: flex;
    text-align:center;
    margin: auto;
    justify-content: space-around;
    align-items: center;
   }
   .spinable_animation_icon:active
   {
    font-size: 28px;
    animation: spin_icon_animation .28s linear infinite;

   }
   @keyframes spin_icon_animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 10px;
    color: rgb(60, 81, 99);
  }
