<app-left-nav-bar 
        [rect_min_width]="'300px'" 
        [rect_min_height] ="'900px'" 
        [rect_max_height] = "'1200px'"
        [rect_max_width] = "'600px'"
        [rect_backgroundColor]="'rgb(65,65,65)'"
        [file_name_style]="{color: 'rgb(240,240,240)', fontFamily: 'Arial', fontWeight:'600'}"
        [folder_name_style]="{color: 'rgb(250,240, 240)', fontFamily: 'Arial', fontWeight:'600'}"
        [file_node_indent] = "25"
        [folder_node_indent] ="25"
        [file_node_height]="'40px'"
        [folder_node_height] = "'40px'"
        [file_node_hover_background_color] ="'rgba(250,250,250,.2)'"
        [file_node_regular_background_color] = "'transparent'"
        [folder_node_hover_background_color] ="'rgba(250,250,250,.2)'"
        [folder_node_regular_background_color] = "'transparent'"
        [handlebar_right_hover_color] = "'rgb(250,200,100)'"
        [handbar_right_default_hover_color] = "'transparent'"
        [file_icon_default_style_option]= "'sqo'"
        [top_nav_section_background_color]="'rgb(200,100,100)'"
        [nav_toolbar_height] = "'40px'"
        [resizable_right_width] = "'8px'"
        >
</app-left-nav-bar>
         


