<app-left-nav-bar 
        [rect_width]="'300px'" 
        [rect_height] ="'860px'" 
        [rect_backgroundColor]="'rgb(250,250,250)'"
        [file_name_style]="{color: 'black', backgroundColor: 'rgb(240,250,250)', fontFamily: 'Arial'}"
        [folder_name_style]="{color: 'black', backgroundColor: 'rgb(240,250,250)', fontFamily: 'Arial'}"
        [node_hover_background_color] ="'rgb(200,150,100)'"
        [node_regular_background_color] = "'transparent'"
        [handlebar_right_hover_color] = "'rgb(200,150,100)'"
        [handbar_right_default_hover_color] = "'transparent'"
        [file_icon_default_style_option]= "'sqo'"
        >
</app-left-nav-bar>
         


